  <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
            <a href="index.html" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
                <h1 class="m-0 text-primary">JobFinder</h1>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="{{  path('app_stage_finder') }}" class="nav-item nav-link active">Home</a>
                    <a href="{{  path('about') }}" class="nav-item nav-link">About</a>
                   
                        <a href="{{  path('stages') }}" class="nav-item nav-link" >Internships</a>
                       
                    
                    
                        <a href="{{  path('testemonials') }}" class="nav-item nav-link" >Testemonials</a>
						<a href="{{  path('profile') }}" class="nav-item nav-link" >Profile</a>
                        {% if app.user %}
                        	<a href="{{  path('app_logout') }}" class="nav-item nav-link" >se deconnecter</a>
                        {%endif%}
                       
                    
                   
                </div>
				{% if app.user %}
				{% if app.user.category == '0' %}
                <a href="{{  path('app_offre_entreprise_index') }}" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Dashboard<i class="fa fa-arrow-right ms-3"></i></a>
                {% endif %}
				{% if app.user.category == '1' %}
                <a href="" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">check jobs<i class="fa fa-arrow-right ms-3"></i></a>
                {% endif %}
			 {% endif %}
			</div>
        </nav>
        <!-- Navbar End -->
