{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <h1>Hello</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hello.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ hello.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hello_index') }}">back to list</a>

    <a href="{{ path('app_hello_edit', {'id': hello.id}) }}">edit</a>

    {{ include('hello/_delete_form.html.twig') }}
{% endblock %}
